<header>
<div id="header">
  <table>
    <tr>
      <td>
        <a href="http://www.ga.gov.au"><img id="ga-logo" src="{{ url_for('static', filename = 'img/ga/ga-logo.jpg') }}"/></a>
      </td>
      <td>
        <table>
          <tr>
            <td id="quote">
              <span id="quote">Applying geoscience to Australia's most important challenges</span>
            </td>
          </tr>

        </table>
      </td>
    </tr>
  </table>
  <div id="ga-colour-strip-container">
    <img id="ga-colour-strip" src="{{ url_for('static', filename = 'img/ga/lo.jpg') }}" />
  </div>
</div>
  </header>
