{% extends "layout.html" %}

{% block content %}

    <h1>Linked Data API</h1>
    <p>This is GA's Linked Data <a href="https://en.wikipedia.org/wiki/Application_programming_interface">API</a> home page for <b>Sample</b>, <b>Site</b> and <b>Survey</b>.  </p>

    <h2>Starting points</h2>
    <h3>Registers</h3>
    <ul>
        <li><a href="http://pid.geoscience.gov.au/sample/">Sample Register</a></li>
        <li><a href="http://pid.geoscience.gov.au/sites/site/">Site Register</a></li>
        <li><a href="http://pid.geoscience.gov.au/survey/ga/">Survey Register</a></li>
    </ul>

    <h3>Instance</h3>
    <ul>
        <li><a href="http://pid.geoscience.gov.au/sample/AU1">Sample AU1</a></li>
        <li><a href="http://pid.geoscience.gov.au/sites/site/2">Site 2</a></li>
        <li><a href="http://pid.geoscience.gov.au/survey/ga/01020013">Survey 01020013</a></li>
    </ul>
    <!--<hr>-->

    <h2>More information</h2>
    <p>See the <a href="/about">About Page</a> for more information.</p>

{% endblock %}