<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>pid.geoscience.gov.au home</title>
    <link rel="stylesheet" href="http://52.62.134.119/static/css/ga_theme.css" />
    <link rel="stylesheet" href="http://52.62.134.119/static/css/alternates.css" />
    <link rel="shortcut icon" href="http://52.62.134.119/static/img/favicon.ico">
</head>
<body>
    <div id="header">
  <table>
    <tr>
      <td>
        <a href="http://www.ga.gov.au"><img id="ga-logo" src="http://52.62.134.119/static/img/ga-logo.jpg" /></a>
      </td>
      <td>
        <table>
          <tr>
            <td id="quote">
              <span id="quote">Applying geoscience to Australia's most important challenges</span>
            </td>
          </tr>
          <tr>
            <td>
              <div id="ga-nav">
		<a href="http://www.ga.gov.au">GA website</a>
	      </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div id="ga-colour-strip-container">
    <img id="ga-colour-strip" src="http://52.62.134.119/static/img/lo.jpg" />
  </div>
</div>
    <div id="container-content">

	<h1>pid.geoscience.gov.au home</h1>
	<table>
		<tr>
			<td style="width:50%; vertical-align:top;">
	<h2>About PIDs</h2>
	<p>This is the root of the persistent ID (PID) <a href="https://en.wikipedia.org/wiki/Uniform_Resource_Identifier">URI</a> <a href="https://en.wikipedia.org/wiki/Subdomain">subdomain</a> managed by <a href="http://pid.geoscience.gov.au/org/ga">Geoscience Australia</a> on behalf of the Australian geoscience community.</p>
	<p>This PID subdomain is used to both identify and provide access to a range of digital resources published by members of the Australian geoscience community such as datasets, vocabularies, terms within vocabularies, schemas, lists of people, systems, etc.</p>
	<p>The choice of this domain, geoscience.gov.au, for PID use, rather than perhaps GA's web domain, ga.gov.au, is in accordance with 'Cool URI' principles, in particular that PID URIs shouldn't include organsational details that are liable to change with organisational change. Since this domain, geoscience.gov.au, is concept-based, it's likely to remain relevant to Australia for all time (or at least for as long as Australia exists!).</p>
	<p>The choice to use a dedicated subdomain, pid, within geoscience.gov.au it to avoid any collisions of web addresses with other users of the geosceince.gov.au domain name, such as the AusGIN website at <a hre="http://www.geoscience.gov.au/">www.geoscience.gov.au</a>. This subdomain use is similar to other geosceince.gov.au dedicated subdomains such as for the AusGIN Portal at <a href="http://portal.geoscience.gov.au">portal.geoscience.gov.au</a>.</p>
	<p>The system powering the scaled and complex use of this subdomain is an advanced proxy server known as the <a href="https://www.seegrid.csiro.au/wiki/Siss/PIDService">PID Service</a> which was developed by the <a href="http://csiro.au/">CSIRO</a>.</p>
	<h3>Linked Data PIDs</h3>
	<p>The PIDs in use in this subdomain are made following <a href="https://github.com/AGLDWG/TR/blob/master/guidelines/URI-Guidelines-for-publishing-linked-datasets-on-data.gov.au-latest.md">URI Guidelines</a> from the <a href="http://linked.data.gov.au">Australian Government Linked Data Working Group</a>.</p>
			</td>
			<td style="width:50%; vertical-align:top;">
	<h2>PIDs in use here</h2>
	<p>The following collections of PIDs are in use within pid.geoscience.gov.au:</p>
	<ul>
		<li>
			<strong>Definitional</strong>
			<ul>
				<li>
					<a href="http://pid.geoscience.gov.au/def/">/def/</a> -- a register of all definitional resource registers
					<ul>
						<li><a href="http://pid.geoscience.gov.au/def/ont/ga/">/def/ont/ga/</a> -- ontology register</li>
						<li><a href="http://pid.geoscience.gov.au/def/schema/ga/">/def/schema/ga/</a> -- schema register</li>
						<li><a href="http://pid.geoscience.gov.au/def/voc/ga/">/def/voc/ga/</a> -- vocabulary register</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<strong>Instances</strong>
			<ul>
				<li><a href="http://pid.geoscience.gov.au/dataset/ga/">/dataset/ga/</a> -- GA's <a href="https://www.w3.org/TR/vocab-dcat/#class-dataset">Dataset</a> register</li>
				<li><a href="http://pid.geoscience.gov.au/feature/ga/">/feature/ga/</a> -- GA's Feature register. This is conceptual only; there is no service delivering a list of individual features yet</li>
                                <li><a href="http://pid.geoscience.gov.au/org/ga/">/org/ga/</a> -- GA's <a href="https://www.w3.org/TR/vocab-org/#class-organization">Organisation</a> register</li>
				<li><a href="http://pid.geoscience.gov.au/sample/">/sample/</a> -- a national <a href="https://www.w3.org/TR/vocab-ssn/#SOSASample">Samples</a> register using <a href="http://www.igsn.org/">IGSNs</a> for the Sample IDs</li>
				<li><a href="http://pid.geoscience.gov.au/survey/ga/">/survey/ga/</a> -- GA's <a href="http://pid.geoscience.org.au/def/ont/ga/pdm#Survey">Surveys</a> register</li>
			</ul>
		</li>
	</ul>
	<p>Some non-persistent web addresses do exist within pid.geosciece.gov.au, such as /pidsvc which is the entry point to the PID Service used to manage the subdomain and /static which contains stylesheets and other web page resources.</p> 
			</td>
		</tr>
	</table>
	<h2>Contact</h2>
	<p><a href="mailto:dataman@a.gov.au">dataman@ga.gov.au</a></p>

    </div>
    <div id="footer-container">
	<div id="footer-links">
		<a href="http://www.ga.gov.au/copyright">Copyright</a>
		<a href="http://www.ga.gov.au/disclaimer">Disclaimer</a>
		<a href="http://www.ga.gov.au/privacy">Privacy</a>
		<a href="http://www.ga.gov.au/accessibility">Accessibility</a>
		<a href="http://www.ga.gov.au/sitemap">Sitemap</a>
		<a href="http://www.ga.gov.au/ips">Information Publication Scheme</a>
		<a href="http://www.ga.gov.au/ips/foi">Freedom of Information</a>
		<a href="http://www.ga.gov.au/contact-us">Contact us</a>
	</div>
</div>
</body>
</html>




