{% extends "layout.html" %}

{% block content %}




	<h1>pid.geoscience.gov.au home</h1>

<p>This is the root of the persistent ID (PID) <a href="https://en.wikipedia.org/wiki/Uniform_Resource_Identifier">URI</a> <a href="https://en.wikipedia.org/wiki/Subdomain">subdomain</a> managed by <a href="http://pid.geoscience.gov.au/org/ga">Geoscience Australia</a> on behalf of the Australian geoscience community.</p>
	<p>This PID subdomain is used to both identify and provide access to a range of digital resources published by members of the Australian geoscience community such as datasets, vocabularies, terms within vocabularies, schemas, lists of people, systems, etc.</p>
	<p>The following collections of PIDs are in use within pid.geoscience.gov.au:</p>

<h2>Register of LD APIs</h2>
	<div class="grid_a">
		<a class="box a" href="/sample/">Samples</a>
		<a class="box b" href="/site/ga">Sites</a>
		<a class="box c" href="/survey/ga">Surveys</a>
		<a class="box c" href="/survey/ga">Future other thing</a>
	</div>
<h2>Vocabularies</h2>
	<div class="grid_b">
		<a class="box d" href="/def/voc/ga/">Vocabularies</a>
		<a class="box e" href="http://google.com">Ontology</a>
		<a class="box f" href="http://google.com">Schema</a>
	</div>
<h2>Other</h2>
	<div class="grid_c">
		<a class="box g" href="http://google.com">Organisation</a>
	</div>


<!--
	<table>
		<tbody>
			<tr>
				<td style="width:50%; vertical-align:top;">

			<td style="width:50%; vertical-align:top;">
	<h2>PIDs in use here</h2>
	<p>The following collections of PIDs are in use within pid.geoscience.gov.au:</p>
	<ul>
		<li>
			<strong>Definitional</strong>
			<ul>
				<li>
					<a href="http://pid.geoscience.gov.au/def/">/def/</a> -- a register of all definitional resource registers
					<ul>
						<li><a href="http://pid.geoscience.gov.au/def/ont/ga/">/def/ont/ga/</a> -- ontology register</li>
						<li><a href="http://pid.geoscience.gov.au/def/schema/ga/">/def/schema/ga/</a> -- schema register</li>
						<li><a href="http://pid.geoscience.gov.au/def/voc/ga/">/def/voc/ga/</a> -- vocabulary register</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<strong>Instances</strong>
			<ul>
				<li><a href="http://pid.geoscience.gov.au/dataset/ga/">/dataset/ga/</a> -- GA's <a href="https://www.w3.org/TR/vocab-dcat/#class-dataset">Dataset</a> register</li>
				<li><a href="http://pid.geoscience.gov.au/feature/ga/">/feature/ga/</a> -- GA's Feature register. This is conceptual only; there is no service delivering a list of individual features yet</li>
                                <li><a href="http://pid.geoscience.gov.au/org/ga/">/org/ga/</a> -- GA's <a href="https://www.w3.org/TR/vocab-org/#class-organization">Organisation</a> register</li>
				<li><a href="http://pid.geoscience.gov.au/sample/">/sample/</a> -- a national <a href="https://www.w3.org/TR/vocab-ssn/#SOSASample">Samples</a> register using <a href="http://www.igsn.org/">IGSNs</a> for the Sample IDs</li>
				<li><a href="http://pid.geoscience.gov.au/survey/ga/">/survey/ga/</a> -- GA's <a href="http://pid.geoscience.org.au/def/ont/ga/pdm#Survey">Surveys</a> register</li>
			</ul>
		</li>
	</ul>
	<p>Some non-persistent web addresses do exist within pid.geosciece.gov.au, such as /pidsvc which is the entry point to the PID Service used to manage the subdomain and /static which contains stylesheets and other web page resources.</p> 
			</td>
		</tr>
	</tbody></table>
	<h2>Contact</h2>
	<p><a href="mailto:dataman@a.gov.au">dataman@ga.gov.au</a></p>

    </div>
    <div id="footer-container">
	<div id="footer-links">
		<a href="http://www.ga.gov.au/copyright">Copyright</a>
		<a href="http://www.ga.gov.au/disclaimer">Disclaimer</a>
		<a href="http://www.ga.gov.au/privacy">Privacy</a>
		<a href="http://www.ga.gov.au/accessibility">Accessibility</a>
		<a href="http://www.ga.gov.au/sitemap">Sitemap</a>
		<a href="http://www.ga.gov.au/ips">Information Publication Scheme</a>
		<a href="http://www.ga.gov.au/ips/foi">Freedom of Information</a>
		<a href="http://www.ga.gov.au/contact-us">Contact us</a>
	</div>
</div>

-->
{% endblock %}



