<div id="header">
  <table>
    <tr>
      <td>
        <img id="gsq_logo" src="{{ url_for('static', filename = 'img/gsq_logo.jpg') }}">
      </td>
      <td>
        <table>
          <tr>
            <td id="quote">
            </td>
          </tr>
          <tr>
            <td>
              {% set nav = 'gsq/nav.html' %}
              {% include nav %}
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!--<div id="ga-colour-strip-container">-->
   <!--<img id="ga-colour-strip" src="{{ url_for('static', filename = 'img/lo.jpg') }}" />-->
  </div>

